@use 'mixins' as m;

.container-tasks {
	padding: 2rem;
	margin: 1.5rem auto;
	background: #fff;
	border-radius: 20px;

	@include m.tablet {
    padding: 1rem;
    margin: 1rem auto;
  }
}

.tasks-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.tasks-content {
	display: flex;
	flex-direction: column;
	gap: .8rem;
	font-weight: 600;
}

.tasks-description {
	margin-top: 1rem;
	font-weight: 400;
}